<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<center>
  <h1>USERS</h1>
  <% @users.each do |user| %>
    <%= user.f_name %> <%=user.l_name %>, COMPANY ID:<%= user.company_id %> |
    <%= link_to 'SHOW', user_path(user) %> |
    <%= link_to 'EDIT', edit_user_path(user) %> |
    <%= link_to 'DELETE', user_path(user), method: :delete %><br />
  <% end %>
</center>
