<center>
  <div class='container'>
    <div class='row'>
      <div class='col-4'></div>
      <div class='col-4'>
        <div class='card'>
          <div class='card-body'>
            <h4 class='card-title'>INVOICES, DUDE!</h4>
            <p class='subtitle'>Get that money.</p>
            <ul class='list-unstyled'>
              <li class='card-text'><%= link_to 'Create a new company', new_company_path %></li>
              <li class='card-text'><%= link_to 'All companies', companies_path %></li>
              <li class='card-text'><%= link_to 'All Invoices', invoices_path %></li>
              <li class='card-text'><%= link_to 'Create an Invoice', new_invoice_path %></li>
              <li class='card-text'><%= link_to 'All Users', users_path %></li>
              <li class='card-text'><%= link_to 'Create a User', signup_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class='col-4'></div>
    </div>
  </div>
</center>
