<!DOCTYPE html>
<html>
  <head>
    <title>DashBilling</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application-print', media: 'print' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('jp-32x32.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= render 'partials/header' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
